.pioenvs
.piolibdeps
build*
remote*
.vscode
*.kml
*.tar
192.168.4.1/trips
sdkconfig.old
wget-log
node_modules
.cache
logs
res/package-lock.json
res/web/app/src/assets
res/web/app/admin
res/web/service/cfg/*
