.commands {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    margin: 5px;
}

li.MuiMenuItem-root {
    color: antiquewhite;
}

div.MuiListItemIcon-root>svg {
    color: aquamarine;
}

div.subitem {
    margin-left: 15px;
}

div.MuiCollapse-wrapperInner>.statusclass.jsonNodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

ul.MuiMenu-list {
    background-color: #2f3b2d;
}

ul.MuiMenu-list >li.Mui-selected {
    background-color: #485a46;
}

ul.MuiMenu-list >li:hover {
    background-color: #394836c9;
}

div.subitem>div>svg {
    margin-right: 20px;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    background-color: black;
    padding: 5px;
}

.tooltip-header {font-size: medium;display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;align-items: center;justify-content: center;border-bottom: solid 1px;}

ul.threads {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    font-size: small;
}

.thread {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.thread-value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    color: aquamarine;
    column-gap: 3px;
}

.thread-summary {
    font-size: x-small;
    color: aqua;
}
