div.jsoneditor,
div.jsoneditor-menu {
    border-color: #4b4b4b;
}

div.jsoneditor-menu {
    background: linear-gradient(to left, #040404, #222b21);
}

div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
    background: linear-gradient(to bottom, #040404, #3a4a38) !important;
    color: #ffffff;
}

table.jsoneditor-search div.jsoneditor-frame {
    background: #808080;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
    background-color: #808080;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
    background-color: #808080;
    border-color: #808080;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
    background-color: #b1b1b1;
    border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
    background-color: #868686;
}

div.jsoneditor-readonly {
    color: #acacac;
}

div.jsoneditor td.jsoneditor-separator {
    color: #acacac;
}

div.jsoneditor-value.jsoneditor-string {
    color: #00ff88;
}

div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
    color: #bababa;
}

div.jsoneditor-value.jsoneditor-number {
    color: #ff4040;
}

div.jsoneditor-value.jsoneditor-boolean {
    color: #ff8048;
}

div.jsoneditor-value.jsoneditor-null {
    color: #49a7fc;
}

div.jsoneditor-value.jsoneditor-invalid {
    color: white;
}

div.jsoneditor-readonly {
    color: aquamarine !important;
}

tr.jsoneditor-highlight {
    background: linear-gradient(to left, #040404, #222b21);
    border: 1px black solid;
}

div.jsoneditor-field {
    color: deepskyblue !important;
}

div.jsoneditor-navigation-bar {
    color: aliceblue;
    background: linear-gradient(to left, #040404, #222b21);
}

button.jsoneditor-transform {
    color: red;
}

.jsoneditor-frame {
    background-color: transparent !important;
}

div.jsoneditor-frame>input {
    background-color: #d1e2cf;
}

div.jsoneditor-value.jsoneditor-string {
    color: lightgreen !important;
}

div.jsoneditor-value.jsoneditor-number {
    color: lightseagreen !important;
}

div.jsoneditor,
div.jsoneditor-menu {
  border-color: #4b4b4b;
}
div.jsoneditor-menu {
    background: linear-gradient(to left, #040404, #222b21);
}
div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
    background: linear-gradient(to bottom, #040404, #3a4a38) !important;
    color: #ffffff;
}
table.jsoneditor-search div.jsoneditor-frame {
  background: #808080;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
  background-color: #808080;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
  background-color: #808080;
  border-color: #808080;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
  background-color: #b1b1b1;
  border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
  background-color: #868686;
}

div.jsoneditor-readonly {
  color: #acacac;
}
div.jsoneditor td.jsoneditor-separator {
  color: #acacac;
}
div.jsoneditor-value.jsoneditor-string {
  color: #00ff88;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
  color: #bababa;
}
div.jsoneditor-value.jsoneditor-number {
  color: #ff4040;
}
div.jsoneditor-value.jsoneditor-boolean {
  color: #ff8048;
}
div.jsoneditor-value.jsoneditor-null {
  color: #49a7fc;
}
div.jsoneditor-value.jsoneditor-invalid {
  color: white;
}

div.jsoneditor-readonly {
    color: aquamarine !important;
}

tr.jsoneditor-highlight {
    background: linear-gradient(to left, #040404, #222b21);
    border: 1px black solid;
}

div.jsoneditor-field {
    color: deepskyblue !important;
}

div.jsoneditor-navigation-bar {
    color: aliceblue;
    background: linear-gradient(to left, #040404, #222b21);
}

button.jsoneditor-transform {
    color: red;
}

.jsoneditor-frame {
    background-color: transparent !important;
}

div.jsoneditor-frame >  input {
    background-color: #d1e2cf;
}

div.jsoneditor-value.jsoneditor-string {
    color: lightgreen !important;
}

div.jsoneditor-value.jsoneditor-number {
    color: lightseagreen !important ;
}
