.scanProgress {
    color: #7fffd4;
    font-size: small;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
}

.devices {
    color: #7fffd4;
}

div.MuiSelect-select {
    padding: 2px 15px;
}

div.MuiOutlinedInput-root {
    border: solid #008b8b;
    border-radius: 20px;
    color: aqua;
}